@{
    ViewData["Title"] = "Admin";
    ViewData["Style"] = "/css/PanelStyling/panelstyling.css";
    ViewData["Script"] = "/js/PanelScripts/index.js";
}
<div class="bgBox"></div>
<main class="AdminPanel">
    <section class="body"></section>
</main>
