.AdminPanel{
    width: 100%;
    height: 100dvh;
    display: grid;
    grid-template-areas: "sidebar topbar" "sidebar body";
    grid-template-rows: 1fr 12fr;
    grid-template-columns: 1fr 8fr;
    gap: var(--baseNum);
    padding: var(--smallNum);
    text-shadow: none;
}
.body {
    grid-area: body;
    border-radius: var(--baseNum);
    display: flex;
    background-color: var(--tertiaryPallete);
}

.title{
    font-family: var(--titleFont);
    text-transform: capitalize;
}
.backBtn{
    width: 40px;
    height: 40px;
    border-radius: var(--medNum);
    display: grid;
    place-items: center;
    cursor: pointer;
}

.nodata{
    flex: 1;
    display: grid;
    place-items: center;
    text-transform: capitalize;
    font-family: var(--baseFont);
}

.list{
    height: auto;
    overflow-y: scroll;
    display: flex;
    flex-flow: column;
    gap: var(--largeNum);
}
label{
    max-width: 300px;
}
.row{
    display: flex;
    gap: var(--medNum);
    padding: var(--smallNum);
}

.row:not(.head):nth-of-type(odd){
    background-color: var(--primaryPallete);
    color: var(--tertiaryPallete);
    box-shadow: 0px 0px 5px black;
}
.row .cell:nth-child(1){
    max-width: 30px;
}
.row.head{
    padding-right:var(--medNum);
}
.row.head .cell{
    font-size: var(--medNum);
    font-weight: bold;
    font-family: var(--titleFont);
}
.cell{
    flex: 1;
    text-transform: capitalize;
    font-family: var(--baseFont);
    font-size: calc(var(--medNum) - 3px);
    display: flex;
    align-items: center;
}

.cell:nth-last-child(1){
    display: flex;
    gap: var(--medNum);
}
.cell:nth-last-child(1) span{
    font-size: var(--medNum);
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: grid;
    place-items: center;
}
.cell.opn{
    color: var(--quadtiaryPallete);
}
.cell.cls{
    color: var(--err-red);
}