.AdminPanel{
    width: 100%;
    height: 100dvh;
    display: grid;
    grid-template-areas: "sidebar topbar" "sidebar body";
    grid-template-rows: 1fr 12fr;
    grid-template-columns: 1fr 8fr;
    gap: var(--baseNum);
    padding: var(--smallNum);
}

.body {
    grid-area: body;
    background-color: var(--tertiaryPallete);
    border-radius: var(--baseNum);
    display: flex;
}

.title{
    font-family: var(--titleFont);
    text-transform: capitalize;
}
.backBtn{
    width: 40px;
    height: 40px;
    border-radius: var(--medNum);
    display: grid;
    place-items: center;
    cursor: pointer;
}

label{
    display: flex;
    flex-flow: column;
    max-width: 300px;
    gap: var(--medNum);
}
label h2{
    text-transform: capitalize;
    font-size: var(--medNum);
}

label input{
    height: 30px;
    padding: 0 var(--smallNum);
    border-radius: var(--smallNum);
    border: solid 1px;
    outline: none;
    background-color: transparent;
}

label input.fail {
    border: solid 1px var(--err-red);
}

.select-wrap{
    display: flex;
    flex-flow: column;
}
.select-panel{
    display: flex;
    gap: var(--baseNum);
}
.select-panel input{
    flex: 6;
    pointer-events: none;
}
.select-panel input::placeholder{
    text-transform: capitalize;
}
.select-panel span{
    flex: 1;
    border: solid 1px;
    border-radius: var(--smallNum);
    display: grid;
    place-items: center;
    cursor: pointer;
}
.select-panel span.loading{
    opacity: .3;
    pointer-events: none;
    cursor: auto;
}
.select-panel span.loading i{
    animation: spin 3s linear infinite;
}
.select-items{
    border: solid 1px;
    border-radius: var(--smallNum);
    width: 80%;
    height: 0;
    pointer-events: none;
    opacity: 0;
    transform: translateX(-100px);
    min-width: 150px;
    max-height: 120px;
    overflow-y: scroll;
    display: flex;
    flex-flow: column;
    padding: var(--smallNum) 0;
    gap: var(--smallNum);
    transition: .3s ease;
}
.select-items.active{
    height: auto;
    pointer-events: all;
    opacity: 1;
    transform: translateX(0px);
}
.select-items li{
    padding: var(--smallNum) var(--medNum);
    cursor: pointer;
    transition: .3s ease;
    border-radius: var(--smallNum);
    text-transform: capitalize;
    font-family: var(--titleFont);
}
.select-items li:hover,
.select-items li.active{
    background-color: var(--quadtiaryPallete);
    color: var(--tertiaryPallete);
}

.numHold{
    display: flex;
    align-items: center;
    gap: var(--medNum);
}
.numHold span{
    border: 1px solid;
    width: 40px;
    height: 30px;
    border-radius: var(--smallNum);
    display: grid;
    place-items: center;
    cursor: pointer;
}
.numHold #rlnumHld{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--titleFont);
    cursor: auto;
    font-size: var(--medNum);
}
.inpCon{
    width: 100%;
    display: flex;
    gap: var(--smallNum);
}
.inpCon span{
    border: solid 1px;
    width: 35px;
    height: 100%;
    border-radius: var(--smallNum);
    display: grid;
    place-items: center;
    pointer-events: none;
    opacity: .5;
}
.inpCon span i{
    animation: spin 2s ease infinite;
}
.inpCon input{
    width: 100%;
}

.nodata{
    flex: 1;
    display: grid;
    place-items: center;
    text-transform: capitalize;
    font-family: var(--baseFont);
}


.list{
    height: auto;
    overflow-y: scroll;
    display: flex;
    flex-flow: column;
    gap: var(--largeNum);
}
.row{
    display: flex;
    gap: var(--medNum);
}
.row .cell:nth-child(1){
    max-width: 30px;
}
.row.head{
    padding-right:var(--medNum);
}
.row.head .cell{
    font-family: var(--titleFont);
}
.cell{
    flex: 1;
    text-transform: capitalize;
    font-family: var(--baseFont);
    font-size: calc(var(--medNum) - 3px);
    display: flex;
    align-items: center;
}

.cell:nth-last-child(1){
    display: flex;
    gap: var(--medNum);
}
.cell:nth-last-child(1) span{
    font-size: var(--medNum);
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: grid;
    place-items: center;
}
.cell.opn{
    color: var(--quadtiaryPallete);
}
.cell.cls{
    color: var(--err-red);
}