.sidebar-component {
    grid-area: sidebar;
    background-color: var(--tertiaryPallete);
    border-radius: var(--baseNum);
    display: grid;
    grid-template-areas: "profile" "links" "logout";
    grid-template-rows: .5fr 8fr .5fr;
    grid-template-columns: 1fr;
    row-gap: 10px;
}

.sideLinks{
    grid-area: links;
    display: flex;
    flex-flow: column;
    gap: var(--medNum);
    list-style: none;
    padding: var(--medNum) var(--smallNum);
}

.sideLink {
    height: 25px;
    font-family: var(--secondFont);
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: var(--medNum);
    padding: 0 var(--baseNum);
    border-radius: var(--baseNum);
    cursor: pointer;
    transition: .3s ease;
}

.sideLink i{
    font-size: var(--baseNum);
}
.sideLink.active, .sideLink.sideLink.active:hover{
    background-color: var(--quadtiaryPallete);
    color: var(--tertiaryPallete);
}
.sideLink:hover{
    background-color: chocolate;
    color: white;
}

.sideLinks p , .logoutTab p{
    font-size: var(--baseNum);
    font-weight: bold;
    letter-spacing: 1px;
}

.logoutTab {
    padding: var(--medNum) var(--smallNum);
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.logoutTab > .sideLink:hover{
    background-color: firebrick;
    color: white;
}