.topbar-component {
    grid-area: topbar;
    background-color: whitesmoke;
    border-radius: var(--baseNum);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    overflow-y: hidden;
}

.navigator{
    flex: 1;
    font-family: var(--titleFont);
    text-transform: uppercase;
    font-size: var(--medNum);
}
.navigator.animate{
    animation: top-to-bottom 2s ease;
}

.top-content{
    flex: 6;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.searchBar{
    width: 20%;
    min-width: 150px;
    display: flex;
    border-radius: var(--baseNum);
    overflow: hidden;
    margin-right: var(--largeNum);
}

.searchBar input{
    flex: 5;
    height: 22px;
    font-size: calc(var(--medNum) - 2px);
    border: none;
    outline: none;
    border-radius: inherit;
    padding-left: var(--baseNum);
    font-family: var(--baseFont);
}

.searchBar span{
    flex: 1;
    display: grid;
    place-items: center;
    font-size: var(--medNum);
}

.profile-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
}
.profile-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}