.topbar-component {
    grid-area: topbar;
    background-color: var(--tertiaryPallete);
    border-radius: var(--baseNum);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    box-shadow: 0px 0px 5px;
    overflow-y: hidden;
}

.navigator{
    flex: 1;
    font-family: var(--titleFont);
    text-transform: uppercase;
    font-size: var(--medNum);
    margin: 0;
}
.navigator.animate{
    animation: top-to-bottom 2s ease;
}

.top-content{
    flex: 6;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.profile-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
}
.profile-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}