.profile-password-component{
    flex: 1;
    display: flex; 
    flex-flow: column;
    gap: var(--medNum);
    padding: var(--smallNum);
}
.headtitle{
    flex: .5;
}
.passInpHld{
    flex: 6;
    display: flex;
    flex-flow: column;
    gap: var(--medNum);
}

label{
    display: flex;
    flex-flow: column;
    gap: var(--smallNum);
    width: 60%;
    max-width: 300px;
    min-width: 200px;
}

label h3{
    font-size: var(--medNum);
    text-transform: capitalize;
}

.passCon{
    display: flex;
    border-radius: var(--smallNum);
    border: solid 1px;
    align-items: center;
}
.passCon i{
    margin-right: var(--smallNum);
}

label input{
    flex: 1;
    background-color: transparent;
    outline: none;
    border: none;
    height: 30px;
    padding: var(--smallNum);
}

span{
    font-size: var(--medNum);
    max-width: 400px;
}

button{
    flex: .5;
    max-width: 120px;
    background-color: var(--quadtiaryPallete);
    color: var(--primaryPallete);
    text-transform: capitalize;
    border-radius: var(--smallNum);
    align-self: flex-end;
    padding: 0 var(--largeNum);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: var(--medNum);
}

