.profile-float{
    width: 60%;
    background-color: var(--primaryPallete);
    display: flex;
}
.profLinks{
    flex: 1;
    min-width: 100px;
    height: 400px;
    display: flex;
    flex-flow: column;
    gap: var(--medNum);
    padding: var(--medNum) var(--smallNum) var(--smallNum) var(--smallNum);
    list-style: none;
}

.profLinks li{
    font-size: var(--medNum);
    font-family: var(--secondFont);
    text-transform: capitalize;
    cursor: pointer;
    padding: var(--smallNum);
    border-radius: var(--smallNum);
    transition: .3s ease;
}
.profLinks li.active{
    background-color: var(--quadtiaryPallete);
    color: var(--tertiaryPallete);
}


.profView{
    flex: 4;
    display: flex;
}