.planes-component{
    flex: 1;
    padding: var(--smallNum) var(--medNum);
    display: flex;
    flex-flow: column;
    gap: var(--largeNum);
}

.nav{
    display: flex;
    flex-flow: column;
    gap: var(--largeNum);
}

.nav button{
    align-self: flex-end;
    padding: var(--smallNum) var(--medNum);
}

.search-actionbtns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search{
    background-color: var(--primaryColor);
    padding: var(--smallNum);
    border-radius: var(--medNum);
}
.search i{
    font-size: var(--medNum);
}
.search input{
    border: none;
    outline: none;
    height: 25px;
    width: 150px;
    background-color: inherit;
    padding: 0 var(--medNum);
}
.actionBtns{
    display: flex;
    gap: var(--medNum);
}

.actionBtns span{
    width: 30px;
    height: 30px;
    border-radius: var(--smallNum);
    display: grid;
    place-items: center;
    background-color: var(--primaryColor);
    cursor: pointer;
}

.actionBtns span i{pointer-events: none;}

.fa-trash-can{
    color: var(--err-red);
}
.planes-list{
    flex: 5;
    display: flex;
}
.table{
    flex: 1;
    display: none;
    flex-flow: column;
    gap: var(--medNum);
}
.check{
    position: relative;
    display: block;
    width: 15px;
    height: 15px;
    border: solid 1px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
}
.check.show{
    opacity: 1;
    pointer-events: all;
}
.check.active{
    background: var(--secondaryColor);
}
.check.active::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-30deg);
    border-left: solid 2px var(--primaryColor);
    border-bottom: solid 2px var(--primaryColor);
}