@{
    ViewData["Title"] = "Home Page";
    ViewData["Script"] = "/js/Home/index.js";
    ViewData["Style"] = "/css/Home/index.css";
    ViewData["CarStyle"] = "/lib/plugins/owl-carousel/owl.carousel.min.css";
    ViewData["CarThemeStyle"] = "/lib/plugins/owl-carousel/owl.theme.default.css";
    ViewData["CarScript"] = "/lib/plugins/owl-carousel/owl.carousel.min.js";
    ViewData["Jquery"] = "/lib/plugins/owl-carousel/jquery.min.js";
}
<!-- THIS IS THE HOME PAGE-->
<div class="bgBox"></div>
<main>
    <header>
       <div class="hd-bd">
            <h2 class="title-text">it's more than just a trip</h2>
           <button class="bbt">book a fllght</button>
       </div>
    </header>
    <section class="flights">
        <h2>flights</h2>

        <p>
            Embark on an unforgettable journey with our 
            exceptional flight experience! At Emylines Airways,
             we redefine air travel, offering you 
            more than just a destination – we provide a 
            seamless fusion of comfort, luxury, and efficiency. 
            Picture yourself soaring through the clouds in our 
            state-of-the-art aircraft, where every seat is designed for 
            maximum comfort. Our friendly and professional cabin crew is 
            dedicated to ensuring your every need is met
        </p>

        <img src="/lib/images/static/other/fli.jpg" alt="">

        <div class="list">
            <div class="table">
                <div class="row">
                    <span class="cell">destination</span>
                    <span class="cell">amount</span>
                    <span class="cell">departure date</span>
                    <span class="cell">available seats</span>
                    <span class="cell"></span>
                </div>

                <div class="table-body"></div>
            </div>
            <div class="loader">
                <i class="fa-solid fa-spinner"></i>
            </div>
        </div>
    </section>

    <section class="airports">
        <h2>our airports</h2>
        <div class="portslist owl-carousel">
            <div class="portBox">
                <div class="portBoxImgBox">
                    <img src="/lib/images/static/airports/airport5.jpg" alt="">
                </div>
                <h3>Emylines(Akwa Ibom)</h3>
            </div>

            <div class="portBox">
                <div class="portBoxImgBox">
                    <img src="/lib/images/static/airports/airport6.jpg" alt="">
                </div>
                <h3>Emylines(Kaduna)</h3>
            </div>

            <div class="portBox">
                <div class="portBoxImgBox">
                    <img src="/lib/images/static/airports/airport1.jpg" alt="">
                </div>
                <h3>Emylines(Abuja)</h3>
            </div>

            <div class="portBox">
                <div class="portBoxImgBox">
                    <img src="/lib/images/static/airports/airport2.jpg" alt="">
                </div>
                <h3>Emylines(Portharcut)</h3>
            </div>

            <div class="portBox">
                <div class="portBoxImgBox">
                    <img src="/lib/images/static/airports/airport3.jpg" alt="">
                </div>
                <h3>Emylines(Lagos)</h3>
            </div>

            <div class="portBox">
                <div class="portBoxImgBox">
                    <img src="/lib/images/static/airports/airport4.jpg" alt="">
                </div>
                <h3>Emylines(Delta)</h3>
            </div>
        </div>
    </section>

    <section class="planes">
        <h2>our planes</h2>
        <div class="planeHld owl-carousel">
            <div class="planeBox">
                <div class="planeBoxImg">
                    <img src="/lib/images/static/planes/plane5.jpg" alt="">
                </div>
                <h3>airbus 77</h3>
            </div>
            <div class="planeBox">
                <div class="planeBoxImg">
                    <img src="/lib/images/static/planes/plane2.jpg" alt="">                    
                </div>
                <h3>boeing 766</h3>
            </div>
            <div class="planeBox">
                <div class="planeBoxImg">
                    <img src="/lib/images/static/planes/plane3.jpg" alt="">
                </div>
                <h3>ATR 1148</h3>
            </div>
            <div class="planeBox">
                <div class="planeBoxImg">
                    <img src="/lib/images/static/planes/plane4.jpg" alt="">
                </div>
                <h3>airbus 656A7</h3>
            </div>
            <div class="planeBox">
                <div class="planeBoxImg">
                    <img src="/lib/images/static/planes/plane1.jpg" alt="">
                </div>
                <h3>ATR DF48</h3>
            </div>
            <div class="planeBox">
                <div class="planeBoxImg">
                    <img src="/lib/images/static/planes/plane6.jpg" alt="">
                </div>
                <h3>ATR 45G77</h3>
            </div>
        </div>
    </section>

    
    <section class="classes">
        <h2>our classes</h2>
        <div class="clsType">
            <h3>buisness class</h3>
            <p>Traveling in business class offers a host of benefits that elevate 
                the overall travel experience. From enhanced comfort to exclusive amenities, 
                here's a glimpse of the advantages of flying business class.
                Experience attentive and personalized service from the moment you step on board. Business class cabin crew are dedicated to ensuring your needs are met promptly, providing a high level of service throughout the flight.
            </p>
            <div class="img">
                <img src="/lib/images/static/other/bis1.jpg" alt="">
            </div>
        </div>

        <div class="clsType">
            <h3>community class</h3>
            <p>
                Choosing to fly in the community 
                class offers passengers a premium travel experience that goes 
                beyond just reaching a destination. From the moment you step on board, 
                you enter a world of comfort, convenience, and personalized service. 
                Community class provides an elevated journey, where spacious seating, 
                luxurious amenities,
                and attentive in-flight service redefine the way you travel.
            </p>
            <div class="img">
                <img src="/lib/images/static/other/com.jpg" alt="">
            </div>
        </div>
    </section>

    <section class="about">
        <h2>about us</h2>
        <div class="abt-hold">
            <div class="abt">
                <h3>our vision</h3>
                <p> 
                    At EmyLines, we envision a future where seamless connectivity 
                    transcends borders, bringing people together and creating extraordinary 
                    travel experiences in Nigeria. Our commitment is to redefine air travel, 
                    setting new standards of excellence, innovation, and sustainability. 
                    We aspire to be the preferred choice for passengers seeking not 
                    just flights but unforgettable journeys marked by safety, comfort, 
                    and personalized service. EmyLines is dedicated to shaping 
                    the skies with a pioneering spirit, fostering global connections, and 
                    contributing to a world where the joy of exploration knows no limits.
                </p>
                    <div class="img">
                        <img src="/lib/images/static/other/vis.jpg" alt="">
                    </div>
            </div>

            <div class="abt">
                <h3>our mission</h3>
                <p> 
                    At EmyLines,  our mission is to seamlessly connect the world by 
                    providing safe, reliable, and exceptional air travel experiences. 
                    We are committed to delivering unparalleled customer service, 
                    fostering a culture of innovation, and prioritizing sustainability 
                    in all our operations. Our goal is to be the preferred choice for 
                    passengers, employees, and partners alike, as we soar towards a future 
                    where distance is no barrier and every journey is a source of 
                    inspiration and connection.
                </p>
                <div class="img">
                    <img src="/lib/images/static/other/mis.jpg" alt="">
                </div>
            </div>
        </div>        
    </section>

    <section class="contact">
        <h2>contact us</h2>
        <p>
            Thank you for choosing Emylines for your journey! 
            Whether you have questions, feedback, or require 
            assistance, our dedicated team is here to help. 
            Your satisfaction is our priority. Feel free 
            to reach out to us 
        </p>
        <div class="conHold">
            <div class="comInfo">
                <div class="info">
                    <div class="iconspace">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                    <div class="infospace">
                        <h3>Adress</h3>
                        <p>39, seaside town, off Madgide Rd, lekki lagos, Nigeria</p>
                    </div>
                </div>

                <div class="info">
                    <div class="iconspace">
                        <i class="fa-solid fa-phone"></i>
                    </div>
                    <div class="infospace">
                        <h3>Phone</h3>
                        <p>+234-9066057393</p>
                    </div>
                </div>
                <div class="info">
                    <div class="iconspace">
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                    <div class="infospace">
                        <h3>Email</h3>
                        <p>emylines@emylines.com</p>
                    </div>
                </div>
            </div>
            <div class="comInput">
                <label id="fname"></label>
                <label id="lname"></label>
                <label id="email"></label>
                <label>
                    <h2>message</h2>
                    <textarea ></textarea>
                </label>
                <button class="primary-btn"><p>send</p></button>
            </div>
        </div>
    </section>

    <footer>
        <div class="logHold">
            <img src="/favicon.ico" alt="">
            <p>emylines</p>
        </div>
        <div class="foots">
            <ul>
                <li>Our classes</li>
                <li class="cl">buisness class</li>
                <li class="cl">community class</li>
            </ul>

            <ul>
                <li>About Us</li>
                <li class="ab">our misson</li>
                <li class="ab">our vision</li>
            </ul>

            <div class="footInfo">
                <p>
                    39, seaside town, off Madgide Rd, lekki lagos, Nigeria 
                </p>
                <p>
                    <i class="fa-solid fa-envelope"></i>
                    emylines@emylines.com
                </p>
                <p>
                    <i class="fa-solid fa-phone"></i>
                    +234-9066057393
                </p>
            </div>
        </div>
    </footer>
</main> 