.signup-component{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 50%;
    min-width: 320px;
    box-shadow: 0px 0px 5px black;
    position: relative;
    gap: var(--medNum);  
}
#fft{
    cursor: pointer;
}
.signup-component >i{
    align-self: flex-end;
    margin-right: var(--largeNum);
    color: orange;
}
.signup-component button{
    border-radius: var(--smallNum);
}
.signup-component::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: var(--smallNum);
    background-attachment: fixed;
    opacity: .5;
    z-index: -1;
    background-color: var(--tertiaryPallete);
    background-image: url("/lib/images/static/other/patt.png");
    background-blend-mode: darken;
}

.signup-component > h1{
    text-transform: uppercase;
    color: orange;
    font-family: var(--baseFont);
}
.signup-component > p{
    font-family: var(--titleFont);
    text-transform: capitalize;
    color: var(--primaryColor);
}
.twoInputHold{
    display: flex;
    gap: var(--medNum);
}
.twoRadioHold{
    display: flex;
    gap: var(--largeNum);
    align-items: center;
}
.twoRadioHold label{
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    padding: 0 var(--medNum);
}
.twoRadioHold label p{
    font-size: var(--medNum);
    color: var(--primaryColor);
    font-family: var(--titleFont);
}
.twoRadioHold label input{
    width: 40px;
}
.twoRadioHold label span{
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--tertiaryPallete);
    display: block;
}
.twoRadioHold label span.active{
    border: solid var(--tertiaryPallete) 3px;
    background-color: var(--quadtiaryPallete);
}
.numInp{
    display: flex;
    border-radius: var(--smallNum);
    display: flex;
    align-items: center;
}
.numInp p{
    color: orange;
    font-size: var(--medNum);
    border-right: solid 1px gray;
    padding-right: var(--medNum);
}
.numInp input{
    margin: 0;
}

.code-wrapper{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: var(--medNum);
}
.email-msg{
    font-family: var(--titleFont);
    max-width: 300px;
    text-align: center;
}
.email-msg span{
    color: var(--err-red);
}
.code-input-box-container{
    display: flex;
    gap: var(--medNum);
    margin: var(--largeNum) 0;
    pointer-events: none;
}
.code-input-box-container input{
    width: 40px;
    height: 40px;
    font-size: calc(var(--largeNum) * 1);
}
.code-btns{
    display: flex;
    justify-content: center;
    gap: var(--medNum);
}
.code-btns button{
    width: max-content;
    padding: 0 var(--largeNum);
    font-size: var(--baseNum);
}

.newEmail{
    width: 100%;
    height: max-content;
    display: flex;
    flex-flow: column;
    gap: var(--largeNum);
}
.newEmail .email-msg {
    align-self: center;
}