@import "/css/animations.css";
@import "/css/float.css";

@font-face{
    font-family: Raleway;
    src: url('/lib/fonts/Raleway-Medium.ttf');
}

@font-face{
    font-family: Poppins;
    src: url('/lib/fonts/Poppins-Medium.ttf');
}

@font-face{
    font-family: Dosis;
    src: url('/lib/fonts/Dosis-Medium.ttf');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primaryPallete: #EEE8AA;
    --secondaryPallete: #95951B;
    --tertiaryPallete: #FCFAEA;
    --quadtiaryPallete: #1B3D2F;
    --err-red: #B22222;
    --fail-red: #fdf6f6;
    --line: 1px solid var(--err-red);
    --smallNum: 5px;
    --baseNum: 10px;
    --medNum: 14px;
    --largeNum: 25px;
    --baseFont: Poppins;
    --secondFont: Raleway;
    --titleFont: Dosis;
}

html{
  position: relative;
}

.bgBox{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(3px);
    background-color: #eee8aa;
}
.imgageholder{
    overflow: hidden;
}
.imgageholder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.logoTab{
    grid-area: profile;
    display: flex;
    align-items: center;
    padding: var(--baseNum);
    gap: var(--smallNum);
    font-family: var(--secondFont);
    font-size: var(--medNum);
    color: var(--quadtiaryPallete);
}
.logoTab img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}