@{
    ViewData["Title"] = "Admin";
}
<div class="bgBox"></div>
<main class="AdminPanel">
    <section class="body"></section>
</main>
<script src="~/js/AdminPanelScripts/index.js" defer type="module"></script>