.navbar-component{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 var(--medNum);
    align-items: center;
    transition: .3s ease;
    z-index: 8;
}
.navbar-component.active{
    background-color: var(--primaryPallete);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .3);
}
.navbar-component.active::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: var(--smallNum);
    background-attachment: fixed;
    opacity: .5;
    z-index: -1;
    background-color: var(--tertiaryPallete);
    background-image: url("/lib/images/static/other/patt.png");
    background-blend-mode: darken;
}

.authBtnHold{
    width: max-content;
    display: flex;
    gap: var(--medNum);
}
.authBtnHold a{
    text-decoration: none;
    padding: var(--smallNum) var(--medNum);
    border-radius: var(--smallNum);
    border: none;
    font-family: var(--titleFont);
    text-transform: capitalize;
    background-color: transparent;
    color: orange;
    box-shadow: 3px 3px 5px black;
}
/* .navbar-component.active a:nth-child(1){
}
.authBtnHold #su{
    color: var(--tertiaryPallete);
} */
.nav-links-hold{
    width: 50%;
    display: flex;
    justify-content: center;
    gap: var(--largeNum);
}
.nav-links-hold li{
    list-style: none;
}
.nav-links-hold li a{
    color: var(--quadtiaryPallete);
    text-transform: capitalize;
    text-decoration: none;
    font-family: var(--secondFont);
    font-size: var(--medNum);
    position: relative;
}

.nav-links-hold li{
    position: relative;
}

.nav-links-hold li::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -10px;
    opacity: 0;
    background-color: var(--tertiaryPallete);
    transition: .3s;
}

.nav-links-hold li:hover::before{
    bottom: 0;
    opacity: 1;
}