.sidebar-component {
    grid-area: sidebar;
    background-color: whitesmoke;
    border-radius: var(--baseNum);
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.57);
    display: grid;
    grid-template-areas: "profile" "links" "logout";
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-columns: 1fr;
    row-gap: 40px;

}

.profileTab{
    grid-area: profile;
    display: flex;
    align-items: center;
    padding: var(--baseNum);
    gap: var(--baseNum);
}

.profileImage{
    width: 50px;
    height: 50px;
    border-radius: var(--baseNum);
}

.profileInfo{
    display: flex;
    flex-flow: column;
    gap: var(--smallNum);
}

.profileInfo i{
    font-family: var(--secondFont);
    font-size: var(--baseNum);
    font-style: normal;
    letter-spacing: 2px;
}

.profileInfo p{
    font-family: var(--baseFont);
    font-size: calc(var(--baseNum) + 2px);
}

.sideLinks{
    grid-area: links;
    display: flex;
    flex-flow: column;
    gap: var(--medNum);
    list-style: none;
    padding: var(--baseNum);
}

.sideLinks .sideLink:hover, 
.sideLinks > .sideLink.active{
    background-color: chocolate;
    color: white;
}

.sideLink {
    height: 35px;
    font-family: var(--secondFont);
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: var(--medNum);
    padding: 0 var(--baseNum);
    border-radius: var(--baseNum);
    cursor: pointer;
    transition: .3s ease;
}

.sideLinks p , .logoutTab p{
    font-size: calc(var(--baseNum) + 3px);
    font-weight: bold;
}

.logoutTab {
    padding: 0 var(--medNum);
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.logoutTab > .sideLink:hover{
    background-color: firebrick;
    color: white;
}